openapi: 3.0.1
info:
  title: Loadero Controller
  description: |-
    This application serves main Loadero's endpoints that can be used to
    manipulate test data and other services
  contact:
    name: Loadero Support
    email: support@loadero.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: v0.32.1
servers:
- url: http://api.loadero.com/v2
- url: https://api.loadero.com/v2
paths:
  /projects/{projectID}/:
    get:
      tags:
      - project
      summary: Get existing project
      description: This endpoint retrieves project info. Project must be previously
        created
      operationId: readProject
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: fullProject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fullProject'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/files/{fileID}/:
    get:
      tags:
      - file
      summary: Read file info.
      description: This endpoint retrieves file info.
      operationId: readFile
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: fileID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: FileID
        x-go-name: FileID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: File
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/:
    get:
      tags:
      - projectrun
      summary: Get all existing test runs for project
      description: |-
        This endpoint retrieves all test run info. Project must be previously
        created
      operationId: readAllProjectRuns
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Offset
        x-go-name: Offset
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: filter_test_name
        in: query
        schema:
          type: string
          x-go-name: FilterName
        x-go-name: FilterName
      - name: filter_started_from
        in: query
        schema:
          type: string
          x-go-name: FilterStartedFrom
        x-go-name: FilterStartedFrom
      - name: filter_started_to
        in: query
        schema:
          type: string
          x-go-name: FilterStartedTo
        x-go-name: FilterStartedTo
      - name: filter_finished_from
        in: query
        schema:
          type: string
          x-go-name: FilterFinishedFrom
        x-go-name: FilterFinishedFrom
      - name: filter_finished_to
        in: query
        schema:
          type: string
          x-go-name: FilterFinishedTo
        x-go-name: FilterFinishedTo
      - name: filter_execution_started_from
        in: query
        schema:
          type: string
          x-go-name: FilterExecutionStartedFrom
        x-go-name: FilterExecutionStartedFrom
      - name: filter_execution_started_to
        in: query
        schema:
          type: string
          x-go-name: FilterExecutionStartedTo
        x-go-name: FilterExecutionStartedTo
      - name: filter_execution_finished_from
        in: query
        schema:
          type: string
          x-go-name: FilterExecutionFinishFrom
        x-go-name: FilterExecutionFinishFrom
      - name: filter_execution_finished_to
        in: query
        schema:
          type: string
          x-go-name: FilterExecutionFinishTo
        x-go-name: FilterExecutionFinishTo
      - name: filter_increment_strategy
        in: query
        schema:
          type: string
          x-go-name: FilterIncrementStrategy
        x-go-name: FilterIncrementStrategy
      - name: filter_status
        in: query
        schema:
          type: string
          x-go-name: FilterStatus
        x-go-name: FilterStatus
      - name: filter_test_mode
        in: query
        schema:
          type: string
          x-go-name: FilterTestMode
        x-go-name: FilterTestMode
      - name: filter_start_interval_from
        in: query
        schema:
          type: string
          x-go-name: FilterStartIntervalFrom
        x-go-name: FilterStartIntervalFrom
      - name: filter_start_interval_to
        in: query
        schema:
          type: string
          x-go-name: FilterStartIntervalTo
        x-go-name: FilterStartIntervalTo
      - name: filter_participant_timeout_from
        in: query
        schema:
          type: string
          x-go-name: FilterParticipantTimeoutFrom
        x-go-name: FilterParticipantTimeoutFrom
      - name: filter_participant_timeout_to
        in: query
        schema:
          type: string
          x-go-name: FilterParticipantTimeoutTo
        x-go-name: FilterParticipantTimeoutTo
      - name: filter_active
        in: query
        schema:
          type: string
          x-go-name: FilterActive
        x-go-name: FilterActive
      responses:
        200:
          description: |-
            RunsResponse is response format that contains pagination info and results
            corresponding to query
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    $ref: '#/components/schemas/Filterer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Run'
                    x-go-name: Results
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/{runID}/:
    get:
      tags:
      - projectrun
      summary: Read project test run info
      description: |-
        This endpoint retrieves project test run info. Project and run must
        be previously created
      operationId: readProjectRun
      parameters:
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: runID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunID
        x-go-name: RunID
      responses:
        200:
          description: RunBody
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunBody'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/{runID}/participants/:
    get:
      tags:
      - projectrunparticipant
      summary: Get all existing project run participants for run
      description: This endpoint retrieves all project run participant info.
      operationId: readAllProjectRunParticipants
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Offset
        x-go-name: Offset
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: runID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunID
        x-go-name: RunID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: filter_browser
        in: query
        schema:
          type: string
          x-go-name: FilterBrowser
        x-go-name: FilterBrowser
      - name: filter_network
        in: query
        schema:
          type: string
          x-go-name: FilterNetwork
        x-go-name: FilterNetwork
      - name: filter_location
        in: query
        schema:
          type: string
          x-go-name: FilterLocation
        x-go-name: FilterLocation
      - name: filter_media_type
        in: query
        schema:
          type: string
          x-go-name: FilterMediaType
        x-go-name: FilterMediaType
      - name: filter_video_feed
        in: query
        schema:
          type: string
          x-go-name: FilterVideoFeed
        x-go-name: FilterVideoFeed
      - name: filter_audio_feed
        in: query
        schema:
          type: string
          x-go-name: FilterAudioFeed
        x-go-name: FilterAudioFeed
      - name: filter_name
        in: query
        schema:
          type: string
          x-go-name: FilterName
        x-go-name: FilterName
      - name: filter_num_from
        in: query
        schema:
          type: string
          x-go-name: FilterNumFrom
        x-go-name: FilterNumFrom
      - name: filter_num_to
        in: query
        schema:
          type: string
          x-go-name: FilterNumTo
        x-go-name: FilterNumTo
      - name: filter_group_name
        in: query
        schema:
          type: string
          x-go-name: FilterGroupName
        x-go-name: FilterGroupName
      - name: filter_group_num_from
        in: query
        schema:
          type: string
          x-go-name: FilterGroupNumFrom
        x-go-name: FilterGroupNumFrom
      - name: filter_group_num_to
        in: query
        schema:
          type: string
          x-go-name: FilterGroupNumTo
        x-go-name: FilterGroupNumTo
      - name: filter_record_audio
        in: query
        schema:
          type: string
          x-go-name: FilterRecordAudio
        x-go-name: FilterRecordAudio
      responses:
        200:
          description: |-
            RunParticipantResponse is response format that contains pagination info
            and results corresponding to query
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    $ref: '#/components/schemas/Filterer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunParticipantBody'
                    x-go-name: Results
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/{runID}/participants/{runParticipantID}/:
    get:
      tags:
      - projectrunparticipant
      summary: Get existing project run participant
      description: |-
        This endpoint retrieves project run participant info. Run, run
        participant must be previously created
      operationId: readProjectRunParticipant
      parameters:
      - name: runParticipantID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunParticipantID
        x-go-name: RunParticipantID
      - name: runID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunID
        x-go-name: RunID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: RunParticipantBody
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunParticipantBody'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/{runID}/results/:
    get:
      tags:
      - projectresult
      summary: Read all project run results
      description: |-
        This endpoint retrieves all project run results. Project, run must be
        previously created and run has to be finished in order to get results
      operationId: readAllProjectResults
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Offset
        x-go-name: Offset
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: runID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunID
        x-go-name: RunID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: filter_browser
        in: query
        schema:
          type: string
          x-go-name: FilterBrowser
        x-go-name: FilterBrowser
      - name: filter_network
        in: query
        schema:
          type: string
          x-go-name: FilterNetwork
        x-go-name: FilterNetwork
      - name: filter_location
        in: query
        schema:
          type: string
          x-go-name: FilterLocation
        x-go-name: FilterLocation
      - name: filter_media_type
        in: query
        schema:
          type: string
          x-go-name: FilterMediaType
        x-go-name: FilterMediaType
      - name: filter_video_feed
        in: query
        schema:
          type: string
          x-go-name: FilterVideoFeed
        x-go-name: FilterVideoFeed
      - name: filter_audio_feed
        in: query
        schema:
          type: string
          x-go-name: FilterAudioFeed
        x-go-name: FilterAudioFeed
      - name: filter_name
        in: query
        schema:
          type: string
          x-go-name: FilterName
        x-go-name: FilterName
      - name: filter_num_from
        in: query
        schema:
          type: string
          x-go-name: FilterNumFrom
        x-go-name: FilterNumFrom
      - name: filter_num_to
        in: query
        schema:
          type: string
          x-go-name: FilterNumTo
        x-go-name: FilterNumTo
      - name: filter_group_name
        in: query
        schema:
          type: string
          x-go-name: FilterGroupName
        x-go-name: FilterGroupName
      - name: filter_group_num_from
        in: query
        schema:
          type: string
          x-go-name: FilterGroupNumFrom
        x-go-name: FilterGroupNumFrom
      - name: filter_group_num_to
        in: query
        schema:
          type: string
          x-go-name: FilterGroupNumTo
        x-go-name: FilterGroupNumTo
      - name: filter_record_audio
        in: query
        schema:
          type: string
          x-go-name: FilterRecordAudio
        x-go-name: FilterRecordAudio
      - name: filter_start_from
        in: query
        schema:
          type: string
          x-go-name: FilterStartFrom
        x-go-name: FilterStartFrom
      - name: filter_start_to
        in: query
        schema:
          type: string
          x-go-name: FilterStartTo
        x-go-name: FilterStartTo
      - name: filter_end_from
        in: query
        schema:
          type: string
          x-go-name: FilterEndFrom
        x-go-name: FilterEndFrom
      - name: filter_end_to
        in: query
        schema:
          type: string
          x-go-name: FilterEndTo
        x-go-name: FilterEndTo
      - name: filter_status
        in: query
        schema:
          type: string
          x-go-name: FilterStatus
        x-go-name: FilterStatus
      - name: filter_selenium_result
        in: query
        schema:
          type: string
          x-go-name: FilterSeleniumResult
        x-go-name: FilterSeleniumResult
      - name: filter_done
        in: query
        schema:
          type: string
          x-go-name: FilterDone
        x-go-name: FilterDone
      responses:
        200:
          description: |-
            RunResultResponse is response format that contains pagination info and
            results corresponding to query
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    $ref: '#/components/schemas/Filterer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Overview'
                    x-go-name: Result
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/{runID}/results/statistics/:
    get:
      tags:
      - projectresult
      summary: Read all project result statistics
      description: |-
        This endpoint retrieves all project result statisctics. Project and run
        must be previously created
      operationId: readProjectResultStatistics
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: runID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunID
        x-go-name: RunID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: |-
            StatisticsResponse is response format that contains assert overview and
            machine statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  asserts:
                    type: array
                    items:
                      $ref: '#/components/schemas/assertOverview'
                    x-go-name: Asserts
                  machine_stats:
                    $ref: '#/components/schemas/MachineStats'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/runs/{runID}/results/{resultID}/:
    get:
      tags:
      - projectresult
      summary: Read single project run result
      description: |-
        This endpoint retrieves single project run result info. Project, run and
        result must be previously created
      operationId: readProjectResult
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: resultID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ResultID
        x-go-name: ResultID
      - name: runID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: RunID
        x-go-name: RunID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: ExtendedResult
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedResult'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/tests/:
    get:
      tags:
      - test
      summary: Get all existing tests for project
      description: This endpoint retrieves all test info. Project must be previously
        created
      operationId: readAllTests
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Offset
        x-go-name: Offset
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: filter_name
        in: query
        schema:
          type: string
          x-go-name: FilterName
        x-go-name: FilterName
      - name: filter_test_mode
        in: query
        schema:
          type: string
          x-go-name: FilterTestMode
        x-go-name: FilterTestMode
      - name: filter_increment_strategy
        in: query
        schema:
          type: string
          x-go-name: FilterIncrementStrategy
        x-go-name: FilterIncrementStrategy
      - name: filter_start_interval_from
        in: query
        schema:
          type: string
          x-go-name: FilterStartIntervalFrom
        x-go-name: FilterStartIntervalFrom
      - name: filter_start_interval_to
        in: query
        schema:
          type: string
          x-go-name: FilterStartIntervalTo
        x-go-name: FilterStartIntervalTo
      - name: filter_participant_timeout_from
        in: query
        schema:
          type: string
          x-go-name: FilterParticipantTimeoutFrom
        x-go-name: FilterParticipantTimeoutFrom
      - name: filter_participant_timeout_to
        in: query
        schema:
          type: string
          x-go-name: FilterParticipantTimeoutTo
        x-go-name: FilterParticipantTimeoutTo
      responses:
        200:
          description: |-
            TestsResponse is response format that contains pagination info and
            results corresponding to query
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    $ref: '#/components/schemas/Filterer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Test'
                    x-go-name: Results
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    post:
      tags:
      - test
      summary: Create new test
      description: This endpoint creates new test with given data.
      operationId: createTest
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: id
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ID
        x-go-name: ID
      - name: created
        in: query
        description: 'readonly: true'
        schema:
          type: string
          format: date-time
          x-go-name: Created
        x-go-name: Created
      - name: updated
        in: query
        description: 'readonly: true'
        schema:
          type: string
          format: date-time
          x-go-name: Updated
        x-go-name: Updated
      - name: project_id
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: name
        in: query
        required: true
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      - name: script_file_id
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ScriptFileID
        x-go-name: ScriptFileID
      - name: start_interval
        in: query
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: StartInterval
        x-go-name: StartInterval
      - name: participant_timeout
        in: query
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ParticipantTimeout
        x-go-name: ParticipantTimeout
      - name: mode
        in: query
        required: true
        schema:
          type: string
          format: string
          x-go-name: Mode
        x-go-name: Mode
      - name: increment_strategy
        in: query
        required: true
        schema:
          type: string
          format: string
          x-go-name: IncrementStrategy
        x-go-name: IncrementStrategy
      - name: deleted
        in: query
        description: 'readonly: true'
        schema:
          type: boolean
          x-go-name: Deleted
        x-go-name: Deleted
      - name: group_count
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: GroupCount
        x-go-name: GroupCount
      - name: participant_count
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ParticipantCount
        x-go-name: ParticipantCount
      - name: script
        in: query
        required: true
        schema:
          type: string
          x-go-name: Script
        x-go-name: Script
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        201:
          description: Test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        413:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: validationResponse will be sent in case a validation fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/tests/{testID}/:
    get:
      tags:
      - test
      summary: Read test info
      description: |-
        This endpoint retrieves test info. Project and test must be previously
        created
      operationId: readTest
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: Test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    put:
      tags:
      - test
      summary: Update existing test
      description: |-
        This endpoint updates test with given properties. Project and test must
        be previously created
      operationId: updateTest
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: id
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ID
        x-go-name: ID
      - name: created
        in: query
        description: 'readonly: true'
        schema:
          type: string
          format: date-time
          x-go-name: Created
        x-go-name: Created
      - name: updated
        in: query
        description: 'readonly: true'
        schema:
          type: string
          format: date-time
          x-go-name: Updated
        x-go-name: Updated
      - name: project_id
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: name
        in: query
        required: true
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      - name: script_file_id
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ScriptFileID
        x-go-name: ScriptFileID
      - name: start_interval
        in: query
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: StartInterval
        x-go-name: StartInterval
      - name: participant_timeout
        in: query
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ParticipantTimeout
        x-go-name: ParticipantTimeout
      - name: mode
        in: query
        required: true
        schema:
          type: string
          format: string
          x-go-name: Mode
        x-go-name: Mode
      - name: increment_strategy
        in: query
        required: true
        schema:
          type: string
          format: string
          x-go-name: IncrementStrategy
        x-go-name: IncrementStrategy
      - name: deleted
        in: query
        description: 'readonly: true'
        schema:
          type: boolean
          x-go-name: Deleted
        x-go-name: Deleted
      - name: group_count
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: GroupCount
        x-go-name: GroupCount
      - name: participant_count
        in: query
        description: 'readonly: true'
        schema:
          type: integer
          format: int64
          x-go-name: ParticipantCount
        x-go-name: ParticipantCount
      - name: script
        in: query
        required: true
        schema:
          type: string
          x-go-name: Script
        x-go-name: Script
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        200:
          description: Test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        413:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: validationResponse will be sent in case a validation fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    delete:
      tags:
      - test
      summary: Delete existing test
      description: This endpoint deletes test. Project and test must be previously
        created
      operationId: deleteTest
      parameters:
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      responses:
        204:
          description: EmptyResponse will be sent in case there is no data to return
            to user.
          content: {}
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/tests/{testID}/asserts/:
    get:
      tags:
      - assert
      summary: Get all existing asserts for test
      description: This endpoint retrieves all assert info. Test must be previously
        created
      operationId: readAllAsserts
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Offset
        x-go-name: Offset
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: filter_path
        in: query
        schema:
          type: string
          x-go-name: FilterPath
        x-go-name: FilterPath
      - name: filter_operator
        in: query
        schema:
          type: string
          x-go-name: FilterOperator
        x-go-name: FilterOperator
      - name: filter_expected
        in: query
        schema:
          type: string
          x-go-name: FilterExpected
        x-go-name: FilterExpected
      responses:
        200:
          description: |-
            AssertsResponse is response format that contains pagination info and
            results corresponding to query
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    $ref: '#/components/schemas/Filterer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/fullAssert'
                    x-go-name: Results
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    post:
      tags:
      - assert
      summary: Create new assert
      description: This endpoint creates new assert with given data.
      operationId: createAssert
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assert'
        required: false
      responses:
        201:
          description: Assert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assert'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        413:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: validationResponse will be sent in case a validation fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: assert
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/:
    get:
      tags:
      - assert
      summary: Read assert info
      description: |-
        This endpoint retrieves assert info. Test and assert must be previously
        created
      operationId: readAssert
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      responses:
        200:
          description: Assert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assert'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    put:
      tags:
      - assert
      summary: Update existing assert
      description: |-
        This endpoint updates assert with given properties. Test and assert must
        be previously created
      operationId: updateAssert
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assert'
        required: false
      responses:
        200:
          description: Assert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assert'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        413:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: validationResponse will be sent in case a validation fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: assert
    delete:
      tags:
      - assert
      summary: Delete existing assert
      description: This endpoint deletes assert. Test and assert must be previously
        created
      operationId: deleteAssert
      parameters:
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      responses:
        204:
          description: EmptyResponse will be sent in case there is no data to return
            to user.
          content: {}
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/copy/:
    post:
      tags:
      - assert
      summary: Duplicate existing assert
      description: |-
        This endpoint duplicates given assert. Test and assert must be previously
        created.
      operationId: duplicateAssert
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      responses:
        200:
          description: Assert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assert'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/:
    get:
      tags:
      - precondition
      summary: Get all existing assert preconditions for assert
      description: |-
        This endpoint retrieves all assert precodndition info. Assert must be
        previously created
      operationId: readAllPreconditions
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          x-go-name: Offset
        x-go-name: Offset
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      - name: filter_property
        in: query
        schema:
          type: string
          x-go-name: FilterProperty
        x-go-name: FilterProperty
      - name: filter_operator
        in: query
        schema:
          type: string
          x-go-name: FilterOperator
        x-go-name: FilterOperator
      - name: filter_expected
        in: query
        schema:
          type: string
          x-go-name: FilterExpected
        x-go-name: FilterExpected
      responses:
        200:
          description: |-
            PreconditionResponse is response format that contains pagination info
            and results corresponding to query
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    $ref: '#/components/schemas/Filterer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssertPrecondition'
                    x-go-name: Results
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    post:
      tags:
      - precondition
      summary: Create new assert precondition
      description: This endpoint creates new assert precondition with given data.
      operationId: createPrecondition
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssertPrecondition'
        required: false
      responses:
        201:
          description: AssertPrecondition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssertPrecondition'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        413:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: validationResponse will be sent in case a validation fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: precondition
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/{preconditionID}/:
    get:
      tags:
      - precondition
      summary: Read assert precondition info
      description: |-
        This endpoint retrieves assert precondition info. Assert and precondition
        must be previously created
      operationId: readPrecondition
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: preconditionID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: PreconditionID
        x-go-name: PreconditionID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      responses:
        200:
          description: AssertPrecondition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssertPrecondition'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    put:
      tags:
      - precondition
      summary: Update existing assert precondition
      description: |-
        This endpoint updates assert precondition with given properties. Assert
        and precondition must be previously created
      operationId: updatePrecondition
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: preconditionID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: PreconditionID
        x-go-name: PreconditionID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssertPrecondition'
        required: false
      responses:
        200:
          description: AssertPrecondition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssertPrecondition'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        413:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: validationResponse will be sent in case a validation fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: precondition
    delete:
      tags:
      - precondition
      summary: Delete existing assert precondition
      description: |-
        This endpoint deletes assert precondition. Assert and precondition must
        be previously created
      operationId: deletePrecondition
      parameters:
      - name: preconditionID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: PreconditionID
        x-go-name: PreconditionID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: assertID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: AssertID
        x-go-name: AssertID
      responses:
        204:
          description: EmptyResponse will be sent in case there is no data to return
            to user.
          content: {}
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: |-
            ForbiddenResponse will be sent in case user lacks permission to access
            requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
  /projects/{projectID}/tests/{testID}/copy/:
    post:
      tags:
      - test
      summary: Duplicate existing test
      description: |-
        This endpoint duplicates given test. If no copy name is provided an
        "Copy of" prefix will be applied to the test name. Project and test must
        be previously created.
      operationId: duplicateTest
      parameters:
      - name: describe
        in: query
        schema:
          type: string
          x-go-name: Describe
        x-go-name: Describe
      - name: testID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: TestID
        x-go-name: TestID
      - name: projectID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: ProjectID
        x-go-name: ProjectID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-go-name: Name
        required: false
      responses:
        200:
          description: Test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        400:
          description: errorResponse will be sent in case an error occurs during request
            processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: |-
            UnauthorizedResponse will be sent in case an authorization error occurs
            and user is not authorized to access requested resource.
          content:
            application/json:
              schema:
[...]
