consumes:
  - application/json
produces:
  - application/json
schemes:
  - http
  - https
swagger: '2.0'
info:
  description: |-
    This application serves main Loadero's endpoints that can be used to
    manipulate test data and other services
  title: Loadero Controller
  contact:
    name: Loadero Support
    email: support@loadero.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: v0.32.1
host: api.loadero.com
basePath: /v2
paths:
  /projects/{projectID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves project info. Project must be previously created
      tags:
        - project
      summary: Get existing project
      operationId: readProject
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: fullProject
          schema:
            $ref: '#/definitions/fullProject'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/files/{fileID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves file info.
      tags:
        - file
      summary: Read file info.
      operationId: readFile
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: FileID
          name: fileID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: File
          schema:
            $ref: '#/definitions/File'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all test run info. Project must be previously
        created
      tags:
        - projectrun
      summary: Get all existing test runs for project
      operationId: readAllProjectRuns
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterName
          name: filter_test_name
          in: query
        - type: string
          x-go-name: FilterStartedFrom
          name: filter_started_from
          in: query
        - type: string
          x-go-name: FilterStartedTo
          name: filter_started_to
          in: query
        - type: string
          x-go-name: FilterFinishedFrom
          name: filter_finished_from
          in: query
        - type: string
          x-go-name: FilterFinishedTo
          name: filter_finished_to
          in: query
        - type: string
          x-go-name: FilterExecutionStartedFrom
          name: filter_execution_started_from
          in: query
        - type: string
          x-go-name: FilterExecutionStartedTo
          name: filter_execution_started_to
          in: query
        - type: string
          x-go-name: FilterExecutionFinishFrom
          name: filter_execution_finished_from
          in: query
        - type: string
          x-go-name: FilterExecutionFinishTo
          name: filter_execution_finished_to
          in: query
        - type: string
          x-go-name: FilterIncrementStrategy
          name: filter_increment_strategy
          in: query
        - type: string
          x-go-name: FilterStatus
          name: filter_status
          in: query
        - type: string
          x-go-name: FilterTestMode
          name: filter_test_mode
          in: query
        - type: string
          x-go-name: FilterStartIntervalFrom
          name: filter_start_interval_from
          in: query
        - type: string
          x-go-name: FilterStartIntervalTo
          name: filter_start_interval_to
          in: query
        - type: string
          x-go-name: FilterParticipantTimeoutFrom
          name: filter_participant_timeout_from
          in: query
        - type: string
          x-go-name: FilterParticipantTimeoutTo
          name: filter_participant_timeout_to
          in: query
        - type: string
          x-go-name: FilterActive
          name: filter_active
          in: query
      responses:
        '200':
          $ref: '#/responses/runsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/{runID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves project test run info. Project and run must
        be previously created
      tags:
        - projectrun
      summary: Read project test run info
      operationId: readProjectRun
      parameters:
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
      responses:
        '200':
          description: RunBody
          schema:
            $ref: '#/definitions/RunBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/{runID}/participants/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all project run participant info.
      tags:
        - projectrunparticipant
      summary: Get all existing project run participants for run
      operationId: readAllProjectRunParticipants
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterBrowser
          name: filter_browser
          in: query
        - type: string
          x-go-name: FilterNetwork
          name: filter_network
          in: query
        - type: string
          x-go-name: FilterLocation
          name: filter_location
          in: query
        - type: string
          x-go-name: FilterMediaType
          name: filter_media_type
          in: query
        - type: string
          x-go-name: FilterVideoFeed
          name: filter_video_feed
          in: query
        - type: string
          x-go-name: FilterAudioFeed
          name: filter_audio_feed
          in: query
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterNumFrom
          name: filter_num_from
          in: query
        - type: string
          x-go-name: FilterNumTo
          name: filter_num_to
          in: query
        - type: string
          x-go-name: FilterGroupName
          name: filter_group_name
          in: query
        - type: string
          x-go-name: FilterGroupNumFrom
          name: filter_group_num_from
          in: query
        - type: string
          x-go-name: FilterGroupNumTo
          name: filter_group_num_to
          in: query
        - type: string
          x-go-name: FilterRecordAudio
          name: filter_record_audio
          in: query
      responses:
        '200':
          $ref: '#/responses/runParticipantResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/{runID}/participants/{runParticipantID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves project run participant info. Run, run
        participant must be previously created
      tags:
        - projectrunparticipant
      summary: Get existing project run participant
      operationId: readProjectRunParticipant
      parameters:
        - type: integer
          format: int64
          x-go-name: RunParticipantID
          name: runParticipantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: RunParticipantBody
          schema:
            $ref: '#/definitions/RunParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/{runID}/results/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all project run results. Project, run must be
        previously created and run has to be finished in order to get results
      tags:
        - projectresult
      summary: Read all project run results
      operationId: readAllProjectResults
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterBrowser
          name: filter_browser
          in: query
        - type: string
          x-go-name: FilterNetwork
          name: filter_network
          in: query
        - type: string
          x-go-name: FilterLocation
          name: filter_location
          in: query
        - type: string
          x-go-name: FilterMediaType
          name: filter_media_type
          in: query
        - type: string
          x-go-name: FilterVideoFeed
          name: filter_video_feed
          in: query
        - type: string
          x-go-name: FilterAudioFeed
          name: filter_audio_feed
          in: query
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterNumFrom
          name: filter_num_from
          in: query
        - type: string
          x-go-name: FilterNumTo
          name: filter_num_to
          in: query
        - type: string
          x-go-name: FilterGroupName
          name: filter_group_name
          in: query
        - type: string
          x-go-name: FilterGroupNumFrom
          name: filter_group_num_from
          in: query
        - type: string
          x-go-name: FilterGroupNumTo
          name: filter_group_num_to
          in: query
        - type: string
          x-go-name: FilterRecordAudio
          name: filter_record_audio
          in: query
        - type: string
          x-go-name: FilterStartFrom
          name: filter_start_from
          in: query
        - type: string
          x-go-name: FilterStartTo
          name: filter_start_to
          in: query
        - type: string
          x-go-name: FilterEndFrom
          name: filter_end_from
          in: query
        - type: string
          x-go-name: FilterEndTo
          name: filter_end_to
          in: query
        - type: string
          x-go-name: FilterStatus
          name: filter_status
          in: query
        - type: string
          x-go-name: FilterSeleniumResult
          name: filter_selenium_result
          in: query
        - type: string
          x-go-name: FilterDone
          name: filter_done
          in: query
      responses:
        '200':
          $ref: '#/responses/runResultResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/{runID}/results/statistics/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all project result statisctics. Project and run
        must be previously created
      tags:
        - projectresult
      summary: Read all project result statistics
      operationId: readProjectResultStatistics
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          $ref: '#/responses/statisticsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/runs/{runID}/results/{resultID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves single project run result info. Project, run and
        result must be previously created
      tags:
        - projectresult
      summary: Read single project run result
      operationId: readProjectResult
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ResultID
          name: resultID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: ExtendedResult
          schema:
            $ref: '#/definitions/ExtendedResult'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all test info. Project must be previously created
      tags:
        - test
      summary: Get all existing tests for project
      operationId: readAllTests
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterTestMode
          name: filter_test_mode
          in: query
        - type: string
          x-go-name: FilterIncrementStrategy
          name: filter_increment_strategy
          in: query
        - type: string
          x-go-name: FilterStartIntervalFrom
          name: filter_start_interval_from
          in: query
        - type: string
          x-go-name: FilterStartIntervalTo
          name: filter_start_interval_to
          in: query
        - type: string
          x-go-name: FilterParticipantTimeoutFrom
          name: filter_participant_timeout_from
          in: query
        - type: string
          x-go-name: FilterParticipantTimeoutTo
          name: filter_participant_timeout_to
          in: query
      responses:
        '200':
          $ref: '#/responses/testsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: This endpoint creates new test with given data.
      tags:
        - test
      summary: Create new test
      operationId: createTest
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ID
          description: 'readonly: true'
          name: id
          in: query
        - type: string
          format: date-time
          x-go-name: Created
          description: 'readonly: true'
          name: created
          in: query
        - type: string
          format: date-time
          x-go-name: Updated
          description: 'readonly: true'
          name: updated
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          description: 'readonly: true'
          name: project_id
          in: query
        - type: string
          x-go-name: Name
          name: name
          in: query
          required: true
        - type: integer
          format: int64
          x-go-name: ScriptFileID
          description: 'readonly: true'
          name: script_file_id
          in: query
        - type: integer
          format: int64
          x-go-name: StartInterval
          name: start_interval
          in: query
          required: true
        - type: integer
          format: int64
          x-go-name: ParticipantTimeout
          name: participant_timeout
          in: query
          required: true
        - type: string
          format: string
          x-go-name: Mode
          name: mode
          in: query
          required: true
        - type: string
          format: string
          x-go-name: IncrementStrategy
          name: increment_strategy
          in: query
          required: true
        - type: boolean
          x-go-name: Deleted
          description: 'readonly: true'
          name: deleted
          in: query
        - type: integer
          format: int64
          x-go-name: GroupCount
          description: 'readonly: true'
          name: group_count
          in: query
        - type: integer
          format: int64
          x-go-name: ParticipantCount
          description: 'readonly: true'
          name: participant_count
          in: query
        - type: string
          x-go-name: Script
          name: script
          in: query
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '201':
          description: Test
          schema:
            $ref: '#/definitions/Test'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves test info. Project and test must be previously
        created
      tags:
        - test
      summary: Read test info
      operationId: readTest
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: Test
          schema:
            $ref: '#/definitions/Test'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    put:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint updates test with given properties. Project and test must
        be previously created
      tags:
        - test
      summary: Update existing test
      operationId: updateTest
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ID
          description: 'readonly: true'
          name: id
          in: query
        - type: string
          format: date-time
          x-go-name: Created
          description: 'readonly: true'
          name: created
          in: query
        - type: string
          format: date-time
          x-go-name: Updated
          description: 'readonly: true'
          name: updated
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          description: 'readonly: true'
          name: project_id
          in: query
        - type: string
          x-go-name: Name
          name: name
          in: query
          required: true
        - type: integer
          format: int64
          x-go-name: ScriptFileID
          description: 'readonly: true'
          name: script_file_id
          in: query
        - type: integer
          format: int64
          x-go-name: StartInterval
          name: start_interval
          in: query
          required: true
        - type: integer
          format: int64
          x-go-name: ParticipantTimeout
          name: participant_timeout
          in: query
          required: true
        - type: string
          format: string
          x-go-name: Mode
          name: mode
          in: query
          required: true
        - type: string
          format: string
          x-go-name: IncrementStrategy
          name: increment_strategy
          in: query
          required: true
        - type: boolean
          x-go-name: Deleted
          description: 'readonly: true'
          name: deleted
          in: query
        - type: integer
          format: int64
          x-go-name: GroupCount
          description: 'readonly: true'
          name: group_count
          in: query
        - type: integer
          format: int64
          x-go-name: ParticipantCount
          description: 'readonly: true'
          name: participant_count
          in: query
        - type: string
          x-go-name: Script
          name: script
          in: query
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: Test
          schema:
            $ref: '#/definitions/Test'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    delete:
      security:
        - ApiKeyAuth: []
      description: This endpoint deletes test. Project and test must be previously created
      tags:
        - test
      summary: Delete existing test
      operationId: deleteTest
      parameters:
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/asserts/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all assert info. Test must be previously created
      tags:
        - assert
      summary: Get all existing asserts for test
      operationId: readAllAsserts
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: string
          x-go-name: FilterPath
          name: filter_path
          in: query
        - type: string
          x-go-name: FilterOperator
          name: filter_operator
          in: query
        - type: string
          x-go-name: FilterExpected
          name: filter_expected
          in: query
      responses:
        '200':
          $ref: '#/responses/assertsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: This endpoint creates new assert with given data.
      tags:
        - assert
      summary: Create new assert
      operationId: createAssert
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: Assert
          name: assert
          in: body
          schema:
            $ref: '#/definitions/Assert'
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '201':
          description: Assert
          schema:
            $ref: '#/definitions/Assert'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves assert info. Test and assert must be previously
        created
      tags:
        - assert
      summary: Read assert info
      operationId: readAssert
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: Assert
          schema:
            $ref: '#/definitions/Assert'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    put:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint updates assert with given properties. Test and assert must
        be previously created
      tags:
        - assert
      summary: Update existing assert
      operationId: updateAssert
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: Assert
          name: assert
          in: body
          schema:
            $ref: '#/definitions/Assert'
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: Assert
          schema:
            $ref: '#/definitions/Assert'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    delete:
      security:
        - ApiKeyAuth: []
      description: This endpoint deletes assert. Test and assert must be previously created
      tags:
        - assert
      summary: Delete existing assert
      operationId: deleteAssert
      parameters:
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/copy/:
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint duplicates given assert. Test and assert must be previously
        created.
      tags:
        - assert
      summary: Duplicate existing assert
      operationId: duplicateAssert
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: Assert
          schema:
            $ref: '#/definitions/Assert'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all assert precodndition info. Assert must be
        previously created
      tags:
        - precondition
      summary: Get all existing assert preconditions for assert
      operationId: readAllPreconditions
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
        - type: string
          x-go-name: FilterProperty
          name: filter_property
          in: query
        - type: string
          x-go-name: FilterOperator
          name: filter_operator
          in: query
        - type: string
          x-go-name: FilterExpected
          name: filter_expected
          in: query
      responses:
        '200':
          $ref: '#/responses/preconditionsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: This endpoint creates new assert precondition with given data.
      tags:
        - precondition
      summary: Create new assert precondition
      operationId: createPrecondition
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: Precondition
          name: precondition
          in: body
          schema:
            $ref: '#/definitions/AssertPrecondition'
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
      responses:
        '201':
          description: AssertPrecondition
          schema:
            $ref: '#/definitions/AssertPrecondition'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/{preconditionID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves assert precondition info. Assert and precondition
        must be previously created
      tags:
        - precondition
      summary: Read assert precondition info
      operationId: readPrecondition
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: PreconditionID
          name: preconditionID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
      responses:
        '200':
          description: AssertPrecondition
          schema:
            $ref: '#/definitions/AssertPrecondition'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    put:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint updates assert precondition with given properties. Assert
        and precondition must be previously created
      tags:
        - precondition
      summary: Update existing assert precondition
      operationId: updatePrecondition
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: Precondition
          name: precondition
          in: body
          schema:
            $ref: '#/definitions/AssertPrecondition'
        - type: integer
          format: int64
          x-go-name: PreconditionID
          name: preconditionID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
      responses:
        '200':
          description: AssertPrecondition
          schema:
            $ref: '#/definitions/AssertPrecondition'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    delete:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint deletes assert precondition. Assert and precondition must
        be previously created
      tags:
        - precondition
      summary: Delete existing assert precondition
      operationId: deletePrecondition
      parameters:
        - type: integer
          format: int64
          x-go-name: PreconditionID
          name: preconditionID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: AssertID
          name: assertID
          in: path
          required: true
      responses:
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/copy/:
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint duplicates given test. If no copy name is provided an
        "Copy of" prefix will be applied to the test name. Project and test must
        be previously created.
      tags:
        - test
      summary: Duplicate existing test
      operationId: duplicateTest
      parameters:
        - name: Body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                x-go-name: Name
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: Test
          schema:
            $ref: '#/definitions/Test'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/groups/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all group info. Test must be previously created
      tags:
        - group
      summary: Get all existing groups for test
      operationId: readAllGroups
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterCountFrom
          name: filter_count_from
          in: query
        - type: string
          x-go-name: FilterCountTo
          name: filter_count_to
          in: query
      responses:
        '200':
          $ref: '#/responses/groupsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: This endpoint creates new group with given data.
      tags:
        - group
      summary: Create new group
      operationId: createGroup
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: Group
          name: group
          in: body
          schema:
            $ref: '#/definitions/Group'
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '201':
          description: Group
          schema:
            $ref: '#/definitions/Group'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/groups/{groupID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves group info. Test and group must be previously
        created
      tags:
        - group
      summary: Read group info
      operationId: readGroup
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: Group
          schema:
            $ref: '#/definitions/Group'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    put:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint updates group with given properties. Test and group must
        be previously created
      tags:
        - group
      summary: Update existing group
      operationId: updateGroup
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: Group
          name: group
          in: body
          schema:
            $ref: '#/definitions/Group'
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: Group
          schema:
            $ref: '#/definitions/Group'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    delete:
      security:
        - ApiKeyAuth: []
      description: This endpoint deletes group. Test and group must be previously created
      tags:
        - group
      summary: Delete existing group
      operationId: deleteGroup
      parameters:
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/groups/{groupID}/copy/:
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint duplicates given group. If no copy name is provided an
        "Copy of" prefix will be applied to the group name. Test and group must
        be previously created.
      tags:
        - group
      summary: Duplicate existing group
      operationId: duplicateGroup
      parameters:
        - name: Body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                x-go-name: Name
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: Group
          schema:
            $ref: '#/definitions/Group'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/groups/{groupID}/participants/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all group participant info.
      tags:
        - groupparticipants
      summary: Get all existing group participants for group.
      operationId: readAllGroupParticipants
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
        - type: string
          x-go-name: FilterBrowser
          name: filter_browser
          in: query
        - type: string
          x-go-name: FilterNetwork
          name: filter_network
          in: query
        - type: string
          x-go-name: FilterLocation
          name: filter_location
          in: query
        - type: string
          x-go-name: FilterMediaType
          name: filter_media_type
          in: query
        - type: string
          x-go-name: FilterVideoFeed
          name: filter_video_feed
          in: query
        - type: string
          x-go-name: FilterAudioFeed
          name: filter_audio_feed
          in: query
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterCountFrom
          name: filter_count_from
          in: query
        - type: string
          x-go-name: FilterCountTo
          name: filter_count_to
          in: query
        - type: string
          x-go-name: FilterComputeUnit
          name: filter_compute_unit
          in: query
        - type: string
          x-go-name: FilterHasGroup
          name: filter_has_group
          in: query
        - type: string
          x-go-name: FilterRecordAudio
          name: filter_record_audio
          in: query
      responses:
        '200':
          $ref: '#/responses/participantsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: This endpoint creates new group participant with given properties.
      tags:
        - groupparticipants
      summary: Create new group participant.
      operationId: createGroupParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: GroupParticipantBody
          name: participant
          in: body
          schema:
            $ref: '#/definitions/GroupParticipantBody'
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
      responses:
        '201':
          description: GroupParticipantBody
          schema:
            $ref: '#/definitions/GroupParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/groups/{groupID}/participants/{participantID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves group participant info.
      tags:
        - groupparticipants
      summary: Get existing group participant.
      operationId: readGroupParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
      responses:
        '200':
          description: GroupParticipantBody
          schema:
            $ref: '#/definitions/GroupParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    put:
      security:
        - ApiKeyAuth: []
      description: This endpoint updates group participant with given properties.
      tags:
        - groupparticipants
      summary: Update existing group participant.
      operationId: updateGroupParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: GroupParticipantBody
          name: participant
          in: body
          schema:
            $ref: '#/definitions/GroupParticipantBody'
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
      responses:
        '200':
          description: GroupParticipantBody
          schema:
            $ref: '#/definitions/GroupParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    delete:
      security:
        - ApiKeyAuth: []
      description: This endpoint deletes group participant.
      tags:
        - groupparticipants
      summary: Delete existing group participant.
      operationId: deleteGroupParticipant
      parameters:
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
      responses:
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/groups/{groupID}/participants/{participantID}/copy/:
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint duplicates given group participant. If no copy name is
        provided an "Copy of" prefix will be applied to the participant name.
      tags:
        - groupparticipants
      summary: Duplicate existing group participant.
      operationId: duplicateGroupParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: GroupID
          name: groupID
          in: path
          required: true
      responses:
        '200':
          description: GroupParticipantBody
          schema:
            $ref: '#/definitions/GroupParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/participants/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all participant info.
      tags:
        - participants
      summary: Get all existing participants for test.
      operationId: readAllParticipants
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: string
          x-go-name: FilterBrowser
          name: filter_browser
          in: query
        - type: string
          x-go-name: FilterNetwork
          name: filter_network
          in: query
        - type: string
          x-go-name: FilterLocation
          name: filter_location
          in: query
        - type: string
          x-go-name: FilterMediaType
          name: filter_media_type
          in: query
        - type: string
          x-go-name: FilterVideoFeed
          name: filter_video_feed
          in: query
        - type: string
          x-go-name: FilterAudioFeed
          name: filter_audio_feed
          in: query
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterCountFrom
          name: filter_count_from
          in: query
        - type: string
          x-go-name: FilterCountTo
          name: filter_count_to
          in: query
        - type: string
          x-go-name: FilterComputeUnit
          name: filter_compute_unit
          in: query
        - type: string
          x-go-name: FilterHasGroup
          name: filter_has_group
          in: query
        - type: string
          x-go-name: FilterRecordAudio
          name: filter_record_audio
          in: query
      responses:
        '200':
          $ref: '#/responses/participantsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: This endpoint creates new participant with given properties.
      tags:
        - participants
      summary: Create new participant.
      operationId: createParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: ParticipantBody
          name: participant
          in: body
          schema:
            $ref: '#/definitions/ParticipantBody'
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '201':
          description: ParticipantBody
          schema:
            $ref: '#/definitions/ParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/participants/{participantID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves participant info.
      tags:
        - participants
      summary: Get existing participant.
      operationId: readParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: ParticipantBody
          schema:
            $ref: '#/definitions/ParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    put:
      security:
        - ApiKeyAuth: []
      description: This endpoint updates participant with given properties.
      tags:
        - participants
      summary: Update existing participant.
      operationId: updateParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - x-go-name: ParticipantBody
          name: participant
          in: body
          schema:
            $ref: '#/definitions/ParticipantBody'
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: ParticipantBody
          schema:
            $ref: '#/definitions/ParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '413':
          $ref: '#/responses/errorResponse'
        '422':
          $ref: '#/responses/validationResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    delete:
      security:
        - ApiKeyAuth: []
      description: This endpoint deletes participant.
      tags:
        - participants
      summary: Delete existing participant.
      operationId: deleteParticipant
      parameters:
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/participants/{participantID}/copy/:
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint duplicates given participant. If no copy name is provided
        an "Copy of" prefix will be applied to the participant name. Group and
        participant must be previously created.
      tags:
        - participants
      summary: Duplicate existing participant
      operationId: duplicateParticipant
      parameters:
        - name: Body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                x-go-name: Name
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ParticipantID
          name: participantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
      responses:
        '200':
          description: ParticipantBody
          schema:
            $ref: '#/definitions/ParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all test run info. Project and test must be
        previously created
      tags:
        - run
      summary: Get all existing test runs for test
      operationId: readAllTestRuns
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterName
          name: filter_test_name
          in: query
        - type: string
          x-go-name: FilterStartedFrom
          name: filter_started_from
          in: query
        - type: string
          x-go-name: FilterStartedTo
          name: filter_started_to
          in: query
        - type: string
          x-go-name: FilterFinishedFrom
          name: filter_finished_from
          in: query
        - type: string
          x-go-name: FilterFinishedTo
          name: filter_finished_to
          in: query
        - type: string
          x-go-name: FilterExecutionStartedFrom
          name: filter_execution_started_from
          in: query
        - type: string
          x-go-name: FilterExecutionStartedTo
          name: filter_execution_started_to
          in: query
        - type: string
          x-go-name: FilterExecutionFinishFrom
          name: filter_execution_finished_from
          in: query
        - type: string
          x-go-name: FilterExecutionFinishTo
          name: filter_execution_finished_to
          in: query
        - type: string
          x-go-name: FilterIncrementStrategy
          name: filter_increment_strategy
          in: query
        - type: string
          x-go-name: FilterStatus
          name: filter_status
          in: query
        - type: string
          x-go-name: FilterTestMode
          name: filter_test_mode
          in: query
        - type: string
          x-go-name: FilterStartIntervalFrom
          name: filter_start_interval_from
          in: query
        - type: string
          x-go-name: FilterStartIntervalTo
          name: filter_start_interval_to
          in: query
        - type: string
          x-go-name: FilterParticipantTimeoutFrom
          name: filter_participant_timeout_from
          in: query
        - type: string
          x-go-name: FilterParticipantTimeoutTo
          name: filter_participant_timeout_to
          in: query
        - type: string
          x-go-name: FilterActive
          name: filter_active
          in: query
      responses:
        '200':
          $ref: '#/responses/runsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint starts test execution. Project and test must be previously
        created
      tags:
        - run
      summary: Create and launch new test run
      operationId: createTestRun
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '202':
          description: Run
          schema:
            $ref: '#/definitions/Run'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves test run info. Project, test and run must be
        previously created
      tags:
        - run
      summary: Read test run info
      operationId: readTestRun
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: RunBody
          schema:
            $ref: '#/definitions/RunBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/participants/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all test run participant info.
      tags:
        - runparticipant
      summary: Get all existing test run participants for run
      operationId: readAllTestRunParticipants
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterBrowser
          name: filter_browser
          in: query
        - type: string
          x-go-name: FilterNetwork
          name: filter_network
          in: query
        - type: string
          x-go-name: FilterLocation
          name: filter_location
          in: query
        - type: string
          x-go-name: FilterMediaType
          name: filter_media_type
          in: query
        - type: string
          x-go-name: FilterVideoFeed
          name: filter_video_feed
          in: query
        - type: string
          x-go-name: FilterAudioFeed
          name: filter_audio_feed
          in: query
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterNumFrom
          name: filter_num_from
          in: query
        - type: string
          x-go-name: FilterNumTo
          name: filter_num_to
          in: query
        - type: string
          x-go-name: FilterGroupName
          name: filter_group_name
          in: query
        - type: string
          x-go-name: FilterGroupNumFrom
          name: filter_group_num_from
          in: query
        - type: string
          x-go-name: FilterGroupNumTo
          name: filter_group_num_to
          in: query
        - type: string
          x-go-name: FilterRecordAudio
          name: filter_record_audio
          in: query
      responses:
        '200':
          $ref: '#/responses/runParticipantResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/participants/{runParticipantID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves test run participant info. Run, run participant
        must be previously created
      tags:
        - runparticipant
      summary: Get existing test run participant
      operationId: readTestRunParticipant
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunParticipantID
          name: runParticipantID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: RunParticipantBody
          schema:
            $ref: '#/definitions/RunParticipantBody'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/results/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all test run results. Project, test, run must be
        previously created and run has to be finished in order to get results
      tags:
        - result
      summary: Read all test run results
      operationId: readAllTestResults
      parameters:
        - type: integer
          format: int64
          x-go-name: Limit
          name: limit
          in: query
        - type: integer
          format: int64
          x-go-name: Offset
          name: offset
          in: query
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
        - type: string
          x-go-name: FilterBrowser
          name: filter_browser
          in: query
        - type: string
          x-go-name: FilterNetwork
          name: filter_network
          in: query
        - type: string
          x-go-name: FilterLocation
          name: filter_location
          in: query
        - type: string
          x-go-name: FilterMediaType
          name: filter_media_type
          in: query
        - type: string
          x-go-name: FilterVideoFeed
          name: filter_video_feed
          in: query
        - type: string
          x-go-name: FilterAudioFeed
          name: filter_audio_feed
          in: query
        - type: string
          x-go-name: FilterName
          name: filter_name
          in: query
        - type: string
          x-go-name: FilterNumFrom
          name: filter_num_from
          in: query
        - type: string
          x-go-name: FilterNumTo
          name: filter_num_to
          in: query
        - type: string
          x-go-name: FilterGroupName
          name: filter_group_name
          in: query
        - type: string
          x-go-name: FilterGroupNumFrom
          name: filter_group_num_from
          in: query
        - type: string
          x-go-name: FilterGroupNumTo
          name: filter_group_num_to
          in: query
        - type: string
          x-go-name: FilterRecordAudio
          name: filter_record_audio
          in: query
        - type: string
          x-go-name: FilterStartFrom
          name: filter_start_from
          in: query
        - type: string
          x-go-name: FilterStartTo
          name: filter_start_to
          in: query
        - type: string
          x-go-name: FilterEndFrom
          name: filter_end_from
          in: query
        - type: string
          x-go-name: FilterEndTo
          name: filter_end_to
          in: query
        - type: string
          x-go-name: FilterStatus
          name: filter_status
          in: query
        - type: string
          x-go-name: FilterSeleniumResult
          name: filter_selenium_result
          in: query
        - type: string
          x-go-name: FilterDone
          name: filter_done
          in: query
      responses:
        '200':
          $ref: '#/responses/runResultResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/results/statistics/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves all test result statisctics. Project, test and
        run must be previously created
      tags:
        - result
      summary: Read all test result statistics
      operationId: readTestResultStatistics
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          $ref: '#/responses/statisticsResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/results/{resultID}/:
    get:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint retrieves single test run result info. Project, test, run
        and result must be previously created
      tags:
        - result
      summary: Read single test run result
      operationId: readTestResult
      parameters:
        - type: string
          x-go-name: Describe
          name: describe
          in: query
        - type: integer
          format: int64
          x-go-name: ResultID
          name: resultID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '200':
          description: ExtendedResult
          schema:
            $ref: '#/definitions/ExtendedResult'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '409':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /projects/{projectID}/tests/{testID}/runs/{runID}/stop/:
    post:
      security:
        - ApiKeyAuth: []
      description: |-
        This endpoint stops test run. Project, test and run must be
        previously created. Test run needs to be in progress.
      tags:
        - run
      summary: Stop test run
      operationId: stopTestRun
      parameters:
        - type: integer
          format: int64
          x-go-name: RunID
          name: runID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: TestID
          name: testID
          in: path
          required: true
        - type: integer
          format: int64
          x-go-name: ProjectID
          name: projectID
          in: path
          required: true
      responses:
        '202':
          $ref: '#/responses/emptyResponse'
        '204':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/errorResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /statics/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all static resource info
      tags:
        - static
      summary: Read all static resource info
      operationId: readAllStatics
      responses:
        '200':
          $ref: '#/responses/staticsResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /statics/metric_path/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all available metric paths
      tags:
        - static
      summary: Read all metric path info
      operationId: readMetricPath
      responses:
        '200':
          $ref: '#/responses/metricPathsResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '403':
          $ref: '#/responses/forbiddenResponse'
        '404':
          $ref: '#/responses/errorResponse'
        '429':
          $ref: '#/responses/errorResponse'
        '500':
          $ref: '#/responses/errorResponse'
        '503':
          $ref: '#/responses/errorResponse'
  /statics/types/:
    get:
      security:
        - ApiKeyAuth: []
      description: This endpoint retrieves all static type info
      tags:
        - static
      summary: Read all static type info
      operationId: readAllStaticTypes
      responses:
[...]
